body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}



.load {
    background-image: url(../img/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.progress {
    scale: 0;
    border-radius: 50%;
    animation: loading_492 2s ease infinite; /* ลดระยะเวลา */
}

@keyframes loading_492 {
    50% {
        scale: 1;
    }
}

.progress:nth-child(1) {
    animation-delay: 0.1s; /* ลดระยะเวลา delay */
}
.progress:nth-child(2) {
    animation-delay: 0.3s; /* ลดระยะเวลา delay */
}

.progress:nth-child(3) {
    animation-delay: 0.5s;
}

.progress:nth-child(4) {
    animation-delay: 0.7s;
}

.progress:nth-child(5) {
    animation-delay: 0.9s;
}

.progress:nth-child(6) {
    animation-delay: 1.1s;
}

